.myAccountMain {
    display: flex;
}

.hideOverflow {
    overflow-y: hidden;
}

.myAccountDiv {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: flex-end;
    width: 100%;
    padding: 4rem;
}

.myAccHeading {
    color: var(--main-color);
    padding: 1rem;
}

.informations {
    padding: 2rem;
    display: inline-block;
    border: 1px solid var(--light-divider);
    border-radius: 10px;
    pointer-events: none;
}



.inputDiv {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.informationInput {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--light-divider);
    background-color: #f6f6f6;
    outline: none;
    color: var(--input-color);
    width: 30rem;
}

.labels {
    display: flex;
    flex-direction: column;
}

.inputName {
    padding-bottom: 1rem;
}

.notifyLabel {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 17px;
    align-content: space-between;
}

.notifyInput {
    accent-color: var(--main-color);
    height: 24px;
    width: 24px;
}

.notifyTypes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
}

.editButton {
    background-color: var(--main-color);
    color: white;

}

.notify,
.myAccountHeading {
    width: inherit;
}

.changePasswordSpan {
    display: flex;
    justify-content: space-between;
}

.changePassword {
    cursor: pointer;
    color: var(--main-color);
}

/* changePassword modal css */

.chPswdModal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 480px;
    height: 400px;
    background-color: white;
    top: 50%;
    position: absolute;
    left: 50%;
    border-radius: 8px;
    border: 1px solid var(--light-divider);
    transform: translate(-50%, -50%);
    padding: 4rem;
}

.chPswdModalMain {
    width: 100%;
    background-color: rgb(0 0 0 / 65%);
    height: 100%;
    position: fixed;
    overflow-y: hidden;
}

.modalInput {
    border: none;
    outline: none;
    padding: 1rem;
    width: 100%;
    font-size: 1.7rem;
}

.modalLabel {
    display: flex;
    flex-direction: column;
}

.btnDiv {
    display: flex;
    justify-content: space-between;
}

.cancelBtn {
    border: 2px solid var(--light-divider);
}

.modalBtn {
    width: 180px;
}

.editMode {
    pointer-events: visible;
}

.changePasswordModalLink {
    pointer-events: visible;
}

.eyeIconInput{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid var(--light-divider);
}

.eyeIcon{
    font-size: 18px;
    cursor: pointer;
}