

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-color {
  background-color: #EFF0F3;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: #EFF0F3;
  padding: 20px;
  /* font-size: 30px; */
  text-align: center;
}

.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}

.grid-item1 {
  background-color: white;
  padding: 20px;
  text-align: center;
  height: 350px;
  border: 1px solid var(--light-divider);
  border-radius: 5px;
  margin: 10px;
  gap: 10px;
  
}

/* ********************** */



.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid black;
}

.cardImg {
  /* border: 1px solid red; */
  height: "200px";
  border-radius: "20px";
  border-color: "solid red";
  width: "200px";
  padding-top: 50px;
    
}


.cardName {
  display: flex;
  font-weight: 700;
}
.greycardName {
  
  font-weight: 400;
  font-size: 20px;

}

.cardNameWithDivider {
  padding: 10px 0 10px 0;
  width: 100%;
}

.homeDiv {
  display: flex;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.homePage {
  display: flex;
  width: 100%;
  flex-direction: column;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.cardDiv {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 150px;
  height: 100%;

}

/* ****************************** */
@media only screen and (max-width: 480px) {
  

  .flex {
    display: flex;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    column-gap: 5px;
    padding: 10px;
  }

  .grid-item {
    background-color: #EFF0F3;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
  }

  .grid-container1 {
    display: grid;
    grid-template-columns: auto;
    column-gap: 7px;
    padding: 10px;
  }

  .grid-item1 {
    background-color: white;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    display:flex;
    justify-content: center;
  }

}
