.logo {
    color:var(--main-color);
}

.sidebar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--light-divider);
    width: 235px;
    height: 100vh;
    padding: 20px;
    background-color: #fff;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
@media only screen and (max-width: 400px) and (min-width: 200px)  {
    .sidebar {
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--light-divider);
        width: 122px;
        height: 100vh;
        padding: 20px;
        background-color: #fff;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
    .sidebarMiddlePart {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        gap: 10rem;
    }
    .signalProject{
        padding: 0 0 0 0px ;
    }
    .eachSidebarList {
        display: flex;
        gap: 5px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        padding: 1rem 0rem 1rem 0rem;
        border-radius: 3px;
        text-decoration: none;
    }
    
    
}
.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid black;
}

.profileDiv {
    display: flex;
    gap: 1rem;
    cursor: pointer;

}

.useremail {
    width: 120px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebarFotter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
    width: auto;
}

.sidebarList {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.eachSidebarList {
    display: flex;
    gap: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 3px;
    text-decoration: none;
}

.eachSidebarList, .active:hover {
    color: #6c00ea;
    background-color: #e9d5ff;
}

.projectDiv {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem 1rem 1rem 0;
}

.sidebarMiddlePart {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 19rem;
}

.accountModel {
    border: 1px solid var(--light-divider);
    position: absolute;
    top: -11rem;
    width: 100%;
    background-color: white;
    border-radius: 3px;
}


.accountModel::after {
    content: '';
    width: 1.1rem;
    height: 1.1rem;
    border-right: 1px solid var(--light-divider);
    border-bottom: 1px solid var(--light-divider);
    position: absolute;
    transform: rotate(45deg);
    right: 1.5rem;
    background-color: white;
    bottom: -.6rem;
}

.signalProject{
    padding: 0 0 0 0px ;
}


.accountModelList{
    padding: 10px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}